body {
    font-family: Arial, sans-serif;
    text-align: right;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

.button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.button:disabled {
    background-color: #ddd;
}

.alert {
    color: green;
    font-weight: bold;
}

.alert-error {
    color: red;
    font-weight: bold;
}
